#suites {
  display: none;
}
#villas {
  display: none;
}
.rooms-offers {
  flex-wrap: wrap;
  justify-content: center;
}
.multi-white-btn {
  background-color: transparent;
  border-width: 0.5px;
  padding: 10px 30px 10px 30px;
  border-color: #926d39 !important;
  border-style: solid;
  text-decoration: none;
}
.icons-width {
  font-size: 25px;
  margin-top: 25px;
  margin-bottom: 20px;
}
.carousel-special-offers {
  .special-offer-padding-box {
    padding: 40px;
  }
  .special-offer-title {
    margin-bottom: 10px;
    font-size: 20px;
  }
  .special-offer-img {
    border-radius: 5px;
  }
  .special-offer-txt {
    margin: 0;
    opacity: 50%;
    font-size: 15px;
  }
  .special-offer-btn {
    text-decoration: none;
    margin-top: 15px;
    border-radius: 5px;
    font-family: poppins-semi-bold;
    font-size: 20px;
    background-color: $primary-color;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    letter-spacing: 5px;
    padding: 12px 0px;
    text-align: center;
    width: -webkit-fill-available;
    border: none;
  }
}
.rooms-items-margin {
  margin-left: 20px;
  margin-right: 20px;
}
.multirooms-parag {
  font-size: 15px;
  line-height: 25px;
}
.flex-row-items {
  display: flex;
  flex-direction: row;
}
.flex-row-items {
  ul {
    font-size: 15px;
    line-height: 40px;
    li {
      list-style-image: url("assets/svg/single room/square.svg");    margin-left: -20px;

    }
  }
}
.rooms-img-margin {
  margin-left: 50px;
  margin-right: 30px;
}
.good-vibes-box {
  flex-wrap: wrap;
  margin-left: 4%;
  align-items: space-between;
}
.rooms-slides-box {
  margin-bottom: 50px;
  padding-top: 50px;
}
.rooms-slides-pagar {
  font-size: 15px;
  line-height: 30px;
}

.multiRooms {
  background-image: url("assets/multiRooms/Groupe 2252.png");
}
.multi-rooms-section {
  display: flex;
  flex-direction: column;
  background-image: url("assets/sigleOfferImg/Rectangle 1745.png");
  background-repeat: no-repeat;
  background-size: 1930px 5950px;
}
.rooms-num {
  align-items: flex-start;
  display: flex;
  color: $primary-color;
  font-size: 40px;
  .number-margin-top{

    margin-top: 15px ;
    margin-right: 10px;
  }
  img{
    width: 35px;
    height: 35px;
  }

}
.caract {
  width: 190px;
  justify-content: space-between;
  font-family: poppins;
}

.rooms-menu {
  width: 350px;
  height: 79px;
  background-color: white;
  ul {
    list-style-type: none;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;

    li {
      margin-right: 10%;
      display: inline;
      position: relative;
    }
    li:hover {
      color: $primary-color;
    }


  }
}

.rooms-right-menu {
  margin-left: 816px;
  background-color: white;
  height: 79px;
  width: 351px;
  font-size: 20px;
}

/************slides*************/

/* Hide the images by default */
.mySlides7 {
  display: none;
}

.mySlides8 {
  display: none;
}
.mySlides9 {
  display: none;
}

/*****************************************/

.rooms-parag {
  margin-left: 20px;
  line-height: 20px;
  font-size: 12px;
  width: 305.75px;
  margin-top: 0px;
}

.rooms-cont {
  width: 500px;
  height: 460px;
}

.rooms-margin {
  margin-left: 15%;
  margin-right: 15%;
}
.carraux {
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 37px;
  margin-bottom: 3%;
}

/******************************************/
.roomsmenu {
  width: 784px;
  height: 79px;
  background-color: white;
  ul {
    list-style-type: none;
    padding-inline-start: 20px;
    margin-bottom: 25px;
    li {
      margin-left: 50px;
      display: inline;
      cursor: pointer;
    }

    li :hover {
      color: $primary-color;
      transform: scaleX(1);
      transform-origin: left;
    }
  }
}
@media screen and (max-width: 1050px) {
  .flex-row-items {
    ul {
      font-size: 15px;
      li {
        list-style-image: url("assets/svg/single room/square.svg");
      }
    }
  }

  .carraux {
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 37px;
    margin-bottom: 10%;
  }
}
.multi-rooms-btn-slide {
  a {
    margin: 20px 3px;
  }
}
.act{
  color: $primary-color;
}
.act::after {

  position: absolute;
  border-radius: 20px 20px 0 0;
  content: "";
  min-width: 20px;
  min-height: 10px;
  display: block;
  background-color: #926d39;
  left: 25%;
  bottom: -25px;
}
.carousel-special-offers{
  .flickity-button{
    display: none;
  }
}
@media screen and (min-width: 1050px) {
  .slides1,
  .slides2,
  .slides3,
  .slides4,
  .slides5,
  .slides6
   {
    img{
      object-fit: cover;

      height: 560px;
    }
  }
  .activities1-box-title {

    width: 750px;


  }
}
#menu-with-slides1{
  margin-top: 50px;
}
.multi-rooms-box-title{
  font-family: rossanova;
  font-size: 30px;
  text-align: center;
  color: black;
  line-height: 30px;
}
.left-title{
color: $primary-color;
font-size: 40px;
line-height: 30px;  text-align: center;
  font-family: rossanova;
  width: fit-content;
  margin-bottom: 20px;
  margin-top: 20px;

}