.story-S-cass .flickity-viewport {
  height: 250px !important;
}


@media screen and (min-width: 700px) {

  .display-block-big{
    display: block !important;
  }
.display-none-big{
  display: none !important;
}
.display-block-img-mobile{
  display: none !important;
}
}
 
@media screen and (max-width: 700px) {
  .home-celebrate-margin .parag{
    margin-right: 5%;
  }

  
  .flavour-item .flavour-item-img {
    height: 31%;
  }


  .flavour-container {
    .flavour-item {
  height: auto;}
    
    .margin-stand{
    margin-top: 20px !important;
  }
  .carousel-3-div {
    margin-left: 0px;
    margin-right: 0px;
  }
  }
  .carousel-2-div .carousel-exclu .carousel-cell{
     width: 350px !important;
   }
  .exclu-item {
    
  
    .exclu-item-title {
     
      font-size: 20px !important;
  
      padding-top: 15px !important;
    }
    .exclu-item-img {
      width: 40%;
    }
    .exclu-item-btn {
      margin-top: 15px;
   
      margin-bottom: 20px;
     
      font-size: 10px;
      letter-spacing: 4px;
      padding: 13px 22px;
    }
    .exclu-item-txt {
      font-size: 12px;
      padding: 15px 5% 0px 0px;
      line-height: 33px;
    }

    .top-right-prop {
      font-size: 12px;
      border-bottom-left-radius: 3px;
    }
  
    .padding-right {
      padding-right: 5%;
      margin-bottom: 50px; ;
    }
    .decoration-content {
      display: flex;
      box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.08);
      background-color: white;
      border-color: #808080;
      border-width: 1px;
      border-radius: 5px;
      border-style: solid;
      border-width: 0.3px;
    }
  }
 
  .stay-elemnt{
       flex-basis: auto;

 div{
    font-size: 20px !important;
   
  }
  img {
    width: 50px !important;
  }
}

  .myslidestory{
    
    .carousel-cell{
      width: 30%;
      height: 200px !important;
    }
    .flickity-slider{
      left: 0% !important;
    }
  }
  

  .display-none-mobile{
    display: none !important;

  }
  .display-block-img-mobile{
    display: block !important;
    position: relative;
    .prev3, .next3{
      font-size: 25px !important;
      padding: 10px 13px !important;
      top: 45%;

    }
  }
  .slides-story { .flickity-prev-next-button{
    display: none ; 
  }}
  .slides-story{

  }
  .stay-mobile {
    margin-top: 30px !important;
    .home-title-responsive {
      width: auto;
    }
    .row-stay-responsive{
      margin-top: 10px !important ;
    }
    .stay-img-responsive{
      display: none;
    }
    .index-box-second-parag{
      margin-top: 0px !important ; 
    }
  }
  .carousel-one-in-the-midle{
    margin-top: 50px ;
  }
  .flex-column-mobile{
    display: flex;
    
    flex-direction: column-reverse;
  }
   .home-img-margin {
    margin-left: -5%;
    margin-right: -5%;
   }
  .offer-get-in-touch {
    margin-bottom: 0px !important;
  }
  .home-line-120 {
    line-height: 30px !important;
  }
  .home-two-pic {
    margin-bottom: 37px;
    margin-top: 42px;
  }
  .home-last-sec {
    margin-top: 30px;
    margin-left: 20px;
    font-size: 30px;
    line-height: 30px;
  }
  .home-last-parag {
    font-size: 15px;
    line-height: 33px !important;
    padding: 0px 20px 45px 20px;
  }
  .index-box-second-parag {
    margin-top: 69.8px;
    font-size: 15px;
    line-height: 32px;
  }
  .home-title {
    font-size: 30px;
    margin-bottom: 25px;
    text-align: center;
    justify-content: center;
    margin: auto;
    line-height: 10px;
    .icon-under-h {
      width: 50px;
      height: 27px;
    }
  }
  .title-respnsive {
    margin-top: 10px;
    text-align: center;
  }
  .home-title-responsive {
    margin-top: 10px;
    margin-left: 0px;
  }
  .home-first-section {
    flex-basis: 60%;
    margin-right: 50px;
    margin-top: 10px;
    line-height: 43px;
  }
  .home-box-style {
    margin-top: 22px;
    margin-right: 10px;
    margin-left: 10px;

    .first-box {
      flex-basis: 70%;
      text-align: center;
      margin-top: 40px;
      .first-box-title {
        font-size: 30px;

        line-height: 20px;
      }
      .box-parag {
        font-size: 15px;
      }
    }
    .second-box {
      flex-basis: 28%;
      text-align: center;
      .first-box-title {
        font-size: 30px;

        line-height: 20px;
      }
      .box-parag {
        font-size: 15px;
      }
    }
  }
  .home-gath-sec {
    margin-bottom: 20px;
    .sub-sec {
      flex-basis: 50%;
      align-self: center;
    }
    .basis-48 {
        flex-basis: 48%;
        margin-left: 20px;
        margin-top: -50px;
        /* z-index: 1500; */
        background-color: white;
        margin-right: 20px;

      .sec-margin {
        margin-bottom: 12.9px;
        margin-top: 12px;
        margin-right: 10px;
        padding: 15px;
      }
      .margin-right-50 {
        margin-right: 0px;
    }

    }
  }
  .flavour-item {
    width: 300px;
    margin-right: 40px;
    .flavour-item-title {
      font-size: 30px;
    }

    .flavour-item-txt {
      font-size: 15px;
      line-height: 33px;
    }
    .flavour-item-btn {
      margin-top: 20px;
      padding: 10px 13px;
    }
  }
}
