// .story-S-cass .flickity-viewport {
//   height: 350px !important;
// }

#modules {
  height: 50px;
  padding: 5px;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
  }
}
.minus-span2 {
  color: #ffffff;
  background-color: #b2b4b2;
  border-radius: 25%;

  border: none;
  outline: none;
  font-size: 20px;
  padding: 0px 8px;
}
.input-date-mobile {
  font-family: poppins-light;
  width: 100%;
  color: #787878;
  padding: 10px 30px;
  font-size: 15px;
  border: solid;
  border-color: rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  margin-top: 40px;
  border-width: 0.5px;
  .date-input2 {
    font-family: poppins-light;
    cursor: pointer;

    outline: none;
    text-align: center;
    border: none;
    background-color: transparent;
    color: #787878;
  }
  display: flex;

  align-items: center;

  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #787878;
    opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #787878;
  }

  ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #787878;
  }
}
.input-number-mobile {
  width: 100%;
  justify-content: space-between;
  color: #787878;
  padding: 10px;
  font-size: 15px;
  .number-container {
    width: 100px;
    display: flex;
    justify-content: space-between;
  }
}
.plus-span2 {
  text-decoration: none;
  color: #ffffff;
  background-color: #b2b4b2;
  border-radius: 25%;
  margin-right: 24px;
  border: none;
  outline: none;
  font-size: 20px;
}
.check-btn2 {
  margin-top: auto;
  margin-bottom: 30px;
  letter-spacing: 2px;
  background-color: $primary-color;
  width: 100%;
  color: white;
  text-align: center;
  margin-bottom: 5px;
  border: none;
  outline: none;
  padding-top: 12px;
  padding-bottom: 11px;
  border-radius: 3px;
  font-size: 15px;
}
#book-now-container {
  display: none;
  padding: 30px;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: white;
  align-items: start;
  flex-direction: column;
}

@media screen and (min-width: 700px) {


  .tabcontent {
    visibility: visible !important;
  }

  .display-block-big {
    display: block !important;
  }
  .display-none-big {
    display: none !important;
  }
  .display-block-img-mobile {
    display: none !important;
  }
}

@media screen and (max-width: 700px) {

  .exclu-title {
margin-top: 20px !important;
    font-size: 30px;

    line-height: 30px;

    .icon-under-h {
      width: 80px;

  }  }
  .gath-white-box{
    margin-top: -50px !important;
    margin-right: 20px;
}
.home-gath-sec .gath-box .sec-margin {
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 20px;
}
  .slides-story {
    position: relative;
    height: 100vw !important;
  }
  #modules {
    .active6 {
      opacity: 1 !important;
    }
  }
  .demo32 {
    opacity: 0.6;
  }
  .mobile-galery {
    height: 600px;
  }

  .tabcontent {
    display: block !important;
    position: absolute;
    width: -webkit-fill-available;
  }
  .tabcontent {
    padding: 6px 0px;
  }
  .no-margin-side-mobile {
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
  }
  #modules {
    .column3 {
      width: auto;
    }
  }

  .home-celebrate-margin .parag {
    margin-right: 5%;
  }

  .flavour-item .flavour-item-img {
    height: 31%;
  }

  .flavour-container {
    .flavour-item {
      height: auto;
    }

    .margin-stand {
      margin-top: 0px !important;
    }
    .carousel-3-div {
      margin-left: 0px;
      margin-right: 0px;
    }
  }
  .carousel-2-div .carousel-exclu .carousel-cell {
    width: 350px !important;
  }
  .exclu-item {
    .exclu-item-title {
      font-size: 20px !important;
    }
    .exclu-item-img {
      width: 40%;
    }
    .exclu-item-btn {
      margin-top: 15px;

      margin-bottom: 20px;

      font-size: 10px;
      letter-spacing: 4px;
      padding: 13px 22px;
    }
    .exclu-item-txt {
      font-size: 12px;
      padding: 15px 5% 0px 0px;
      line-height: 33px;
    }

    .top-right-prop {
      font-size: 12px;
      border-bottom-left-radius: 3px;
    }

    .padding-right {
      padding-right: 5%;
      margin-bottom: 50px;
    }
    .decoration-content {
      display: flex;
      box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.08);
      background-color: white;
      border-color: #808080;
      border-width: 1px;
      border-radius: 5px;
      border-style: solid;
      border-width: 0.3px;
    }
  }

  .stay-elemnt {
    flex-basis: auto;

    div {
      font-size: 20px !important;
    }
    img {
      width: 50px !important;
    }
  }

  .myslidestory {
    .carousel-cell {
      width: 30%;
      height: 400px !important;
    }
    .flickity-slider {
      left: 0% !important;
    }
  }

  .display-none-mobile {
    display: none !important;
  }
  .display-block-img-mobile {
    display: block !important;
    position: relative;
    .prev3,
    .next3 {
      font-size: 25px !important;
      padding: 10px 13px !important;
      top: 45%;
    }
  }
  .slides-story {
    .flickity-prev-next-button {
      display: none;
    }
  }

  .stay-mobile {
    margin-top: 30px !important;
    .home-title-responsive {
      width: auto;
    }
    .row-stay-responsive {
      margin-top: 10px !important ;
    }
    .stay-img-responsive {
      display: none;
    }
    .index-box-second-parag {
      margin-top: 0px !important ;
    }
  }
  .carousel-one-in-the-midle {
    margin-top: 0px;
  }
  .flex-column-mobile {
    display: flex;

    flex-direction: column-reverse;
  }
  .home-img-margin {
    margin-left: -5%;
    margin-right: -5%;
  }
  .offer-get-in-touch {
    margin-bottom: 0px !important;
  }
  .home-line-120 {
    line-height: 30px !important;
  }
  .home-two-pic {
    margin-bottom: 37px;
    margin-top: 42px;
  }
  .home-last-sec {
    margin-top: 30px;
    margin-left: 20px;
    font-size: 30px;
    line-height: 30px;
  }
  .home-last-parag {
    font-size: 15px;
    line-height: 33px !important;
    padding: 0px 20px 0px 20px;
  }
  .index-box-second-parag {
    margin-top: 00px;
    font-size: 15px;
    line-height: 32px;
  }
  .home-title {
    font-size: 30px !important;
    margin-bottom: 0px;

    margin-top: 30px;
    margin-right: 0;
    line-height: 30px !important;
    .icon-under-h {
      width: 40px;
      height: 27px;
    }
  }
  .title-respnsive {
    margin-top: 10px;
    text-align: center;
  }
  .home-title-responsive {
    margin-top: 10px;
    margin-left: 0px;
  }
  .home-first-section {
    flex-basis: 60%;
    margin-right: 0px;
    margin-top: 0px;
    line-height: 30px;
  }
  .home-box-style {
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;

    .first-box {
      flex-basis: 70%;
      text-align: center;
      margin-top: 0px;
      .first-box-title {
        font-size: 30px;
        margin-top: 20px !important ;
        line-height: 20px;
      }
      .box-parag {
        font-size: 15px;
      }
    }
    .second-box {
      flex-basis: 28%;
      text-align: center;
      .first-box-title {
        font-size: 30px;

        line-height: 20px;
      }
      .box-parag {
        font-size: 15px;
      }
    }
  }
  .home-gath-sec {
    margin-bottom: 20px;
    .sub-sec {
      flex-basis: 50%;
      align-self: center;
    }
    .basis-48 {
      flex-basis: 48%;
      margin-left: 20px;
      margin-top: -50px;
      /* z-index: 1500; */
      background-color: white;
      margin-right: 20px;

      .sec-margin {
        margin-bottom: 0px;
        margin-top: 12px;
        margin-right: 10px;
        padding: 15px;
      }
      .margin-right-50 {
        margin-right: 0px;
        margin-top: -70px !important;
        background-color: white;
      }
    }
  }
  .flavour-item {
    width: 300px;
    margin-right: 40px;
    height: 300px;
    .flavour-item-title {
      font-size: 30px;
    }

    .flavour-item-txt {
      font-size: 15px;
      line-height: 33px;
    }
    .flavour-item-btn {
      margin-top: 20px;
      padding: 10px 13px;
    }
  }
  .stay-elemnt div {
    font-size: 20px;
  }
  .stay-elemnt img {
    width: 80%;
  }
  .home-last-img {
    display: none;
  }

  /******************** exclu items****************************/

  .exclu-item {
    .exclu-item-title {
      margin: 0;
      font-size: 19px;
      padding-top: 10px;
    }
    .exclu-item-img {
      width: 45%;
    }
    .exclu-item-btn {
      margin-top: 0px;
      margin-bottom: 10px;
      font-size: 10px;
      letter-spacing: 3px;
      padding: 8px 20px;
    }
    .exclu-item-txt {
      font-size: 10px;
      padding: 0px 5% 0px 0px;
      line-height: 18px !important;
    }
    .home-box {
      height: 68px;
      padding-top: 12px;
    }
    .top-right-prop {
      font-size: 12px;
      padding: 0px 12px;
      margin-right: 0px;
    }

    .padding-right {
      padding-right: 20px;
    }
  }
  .home-section {
    div span {
     // margin-top: unset !important;
      margin-bottom: 5px;
    }
    .carousel3 {
      div {
        height: 350px !important;
      }
    }
  }
  .carousel3 {
    div {
      height: 420px !important;
    }
    .flickity-prev-next-button{
      display: none ;
    }
  }
  .home-two-pic {
    display: none;
  }
  .carousel-2-div .flickity-enabled.is-draggable .flickity-viewport {

    height: 200px !important;

}
.carousel-2-div .flickity-page-dots .dot {

  margin: 0 2px;

}
.home-buttons{

  flex-direction: column;

}
}
