.single-room-section{
  display: flex;
  flex-direction: column;

}
.single-room-btn{
  margin-top: 10px;
      border-style: solid;
      border-width: 1px;
      border-color: #926d39;
      
      color: #926D39;
      width: 137px;
      text-align: center;
      height: 42px;
     
  }

.singleRoommenu {
  width: 819px;
  font-size: 17px;
  ul {
    list-style-type: none;
    margin-top: 50px;
    margin-bottom: 25px;

    li {
      margin-left: 40px;
      display: inline;
    }
  }
}
.flex-row {
  ul {
    font-size: 20px;
    li {
      list-style-image: url("assets/svg/single room/square.svg");
    }
  }
}

.date{
  input[type="text"] {
    font-size: 25px;
    width: 150px;
    height: 57px;
    margin-top: 17px;
    border-style: none; padding: 20px;
  }
}

.white-search-btn {
  width: 95px;
  border-width: 1px;
  background-color: white;

  padding: 5px 10px 5px;
}
.menu-box {
  width: 600px;
  margin-left: 70.7px;
  border: 1px solid #b2b4b2;
  height: 78px;
  width: 592px;margin-top: 32px;border-radius: 5px 5px; 
}
.flex-row .input-menu{
   input{
    width: 165px;
   }
}
/******************************  galary   ****************************************/


.single-room-gallery {
    margin-bottom: 100px;
    height:791px;
    margin-top: 75px;
  }
  
  .single-room-gallery-cell {
      margin-top: 20px;
    width: 526px;
    height: auto;
    margin-right: 32px;

    counter-increment: gallery-cell;
  }
  .first-single-room-gallery-cell {
    margin-top: 20px;
  width: 1060px;
  height: auto;
  margin-right: 32px;

  counter-increment: gallery-cell;
}

.rooms-menu-box{
  margin-top: 25px;
  border-style: solid ;
  border-color: #d3d3d3;
  height: 80px; margin-left: 140px;
  border-width: 0.5px;
}
.room-cass{


  .gallery {
    background: #FFFF;
    margin-bottom: 50px;
    height: 520px;
  }
  
  .gallery-cell {
      margin-top: 20px;
    width: 30%;
    height: auto;
    margin-right: 10px;
    background: rgb(255, 255, 255);
    counter-increment: gallery-cell;
  }

  /*************************************************/

  /*! Flickity v1.0.0
http://flickity.metafizzy.co
---------------------------------------------- */

.flickity-enabled {
    position: relative;
  }
  
  .flickity-enabled:focus { outline: none; }
  
  .flickity-viewport {
    overflow: hidden;
    position: relative;
    height: 100% !important;
  }
  
  .flickity-slider {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  /* draggable */
  
  .flickity-enabled.is-draggable {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  
  .flickity-enabled.is-draggable .flickity-viewport {
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab;
  }
  
  .flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
    cursor: -webkit-grabbing;
    cursor: grabbing;
  }
  
  /* ---- previous/next buttons ---- */
  
  .flickity-prev-next-button {
margin-bottom: -12px;
    width: 44px;
    height: 44px;
    border: none;

    background: white;
    background: hsla(0, 0%, 100%, 0.75);
    cursor: pointer;
    /* vertically center */
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  
  .flickity-prev-next-button:hover { background: white; }
  
  .flickity-prev-next-button:focus {
    outline: none;
    box-shadow: 0 0 0 5px #09F;
  }
  
  .flickity-prev-next-button:active {
    filter: alpha(opacity=60); /* IE8 */
    opacity: 0.6;
  }
  
  .flickity-prev-next-button.previous { left: 10px; }
  .flickity-prev-next-button.next { left: 50px; }
  /* right to left */
  .flickity-rtl .flickity-prev-next-button.previous {
    left: auto;
    right: 10px;
  }
  .flickity-rtl .flickity-prev-next-button.next {
    right: auto;
    left: 10px;
  }
  
  .flickity-prev-next-button:disabled {
    filter: alpha(opacity=30); /* IE8 */
    opacity: 0.3;
    cursor: auto;
  }
  
  .flickity-prev-next-button svg {
    position: absolute;
    left: 20%;
    top: 10%;
    width: 60%;
    height: 60%;
  }
  
  .flickity-prev-next-button .arrow {
    fill:$primary-color;
  }
  
  /* color & size if no SVG - IE8 and Android 2.3 */
  .flickity-prev-next-button.no-svg {
    color: $primary-color;
    font-size: 26px;
  }




}






.single-room-caroussel{


  .gallery {
    background: #FFFF;
    margin-bottom: 50px;
    height: 700px;
  }
  
  .gallery-cell {
      margin-top: 20px;
    width: 30%;
    height: 800px;
    margin-right: 10px;
    background: rgb(255, 255, 255);
    counter-increment: gallery-cell;
  }

  /*************************************************/

  /*! Flickity v1.0.0
http://flickity.metafizzy.co
---------------------------------------------- */

.flickity-enabled {
    position: relative;
  }
  
  .flickity-enabled:focus { outline: none; }
  
  .flickity-viewport {
    overflow: hidden;
    position: relative;
    height: 900px !important;
  }
  
  .flickity-slider {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  /* draggable */
  
  .flickity-enabled.is-draggable {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  
  .flickity-enabled.is-draggable .flickity-viewport {
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab;
  }
  
  .flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
    cursor: -webkit-grabbing;
    cursor: grabbing;
  }
  
  /* ---- previous/next buttons ---- */
  
  .flickity-prev-next-button {
margin-bottom: -12px;
    width: 44px;
    height: 44px;
    border: none;
visibility: hidden;
    background: white;
    background: hsla(0, 0%, 100%, 0.75);
    cursor: pointer;
    /* vertically center */
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  
  .flickity-prev-next-button:hover { background: white; }
  
  .flickity-prev-next-button:focus {
    outline: none;
    box-shadow: 0 0 0 5px #09F;
  }
  
  .flickity-prev-next-button:active {
    filter: alpha(opacity=60); /* IE8 */
    opacity: 0.6;
  }
  
  .flickity-prev-next-button.previous { left: 10px; }
  .flickity-prev-next-button.next { left: 50px; }
  /* right to left */
  .flickity-rtl .flickity-prev-next-button.previous {
    left: auto;
    right: 10px;
  }
  .flickity-rtl .flickity-prev-next-button.next {
    right: auto;
    left: 10px;
  }
  
  .flickity-prev-next-button:disabled {
    filter: alpha(opacity=30); /* IE8 */
    opacity: 0.3;
    cursor: auto;
  }
  
  .flickity-prev-next-button svg {
    position: absolute;
    left: 20%;
    top: 10%;
    width: 60%;
    height: 60%;
  }
  
  .flickity-prev-next-button .arrow {
    fill:$primary-color;
  }
  
  /* color & size if no SVG - IE8 and Android 2.3 */
  .flickity-prev-next-button.no-svg {
    color: $primary-color;
    font-size: 26px;
  }




}