.singleRoommenu{
    width: 819px;
    font-size: 17px;
    ul {
        list-style-type: none;
        margin-top: 25px;
        margin-bottom: 25px;
        li {
            margin-left: 40px;
            display: inline;
          }
      }
  }