@font-face {
  font-family: rossanova;
  src: url(assets/font/Rossanova/Rossanova-Regular.otf);
}
@font-face {
  font-family: rossanova-light;
  src: url(assets/font/Rossanova/Rossanova-light.otf);
}
@font-face {
  font-family: rossanova-bold;
  src: url(assets/font/Rossanova/Rossanova-Bold.otf);
}
@font-face {
  font-family: poppins;
  src: url(assets/font/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: poppins-light;
  src: url(assets/font/Poppins/Poppins-Light.ttf);
}
@font-face {
  font-family: poppins-medium;
  src: url(assets/font/Poppins/Poppins-Medium.ttf);
}
@font-face {
  font-family: poppins-semi-bold;
  src: url(assets/font/Poppins/Poppins-SemiBold.ttf);
}
.header-book-btn {
  width: 75%;
  background-color: white;
  color: #926D39 !important;
  border-radius: 3px;
  border: none;
  padding: 15px;
  font-size: 25px;
  font-family: ressanova;
}

@media screen and (min-width: 700px) {
  .header-book-btn-responsive {
    display: none;
  }

  .topnav2 {
    display: none !important;
  }
}
@media screen and (max-width: 700px) {
  .title-header-gold {
    margin-bottom: 0 !important;
    height: 50vh;
  }

  .header-book-btn-responsive {
    display: block;
    width: 100%;
    height: 20vh;
  }

  .formul-book {
    display: none !important;
  }

  .big-word-header2 {
    font-size: 35px !important;
  }

  .bottom-header-container {
    height: 80vh;
    flex-wrap: unset !important;
  }

  .small-word-header2 {
    font-size: 10px !important;
  }

  .home {
    width: 100vw !important;
    height: 100vh !important;
    background-position-y: center !important;
    background-size: cover !important;
    background-position-x: 35%;
  }

  .border-top-a {
    border-top: solid;
    border-width: 1px;
    border-color: #707070;
  }

  .topnav {
    display: none !important;
  }

  .responsive-menu {
    display: flex;
  }

  .left-menu {
    display: block;
  }

  #top2 {
    display: block;
  }

  #top1 {
    display: none;
  }

  .topnav2 a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  /* Add a grey background color on mouse-over */
  .topnav2 a:hover {
    background-color: #ddd;
    color: black;
  }

  .link-logo-top {
    display: block;
    padding-top: 50px !important;
  }

  .topnav2 #myLinks2 {
    display: none;
  }

  .topnav2 a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    text-align: center;
  }

  .topnav2 {
    display: block !important;
    /* Style navigation menu links */
    /* Style the hamburger menu */
  }
  .topnav2 .logo-res {
    width: fit-content;
  }
  .topnav2 #myLinks2 {
    display: none;
    background-color: white;
    width: 70vw;
    float: right;
    height: 100vh;
  }
}
@media screen and (max-width: 700px) {
  .offer-get-in-touch {
    background-image: none !important;
    align-items: stretch !important;
    justify-content: start !important;
    margin-bottom: 0px !important;
  }
  .offer-get-in-touch .ourfans-box {
    -webkit-box-shadow: 0;
    -moz-box-shadow: 0;
    box-shadow: none;
  }
}
@media screen and (max-width: 700px) {
  .footerlist {
    margin-right: 0px !important;
  }

  .box-foot-responsive {
    flex-direction: column !important;
    margin-top: 25px !important;
    margin-bottom: 25px !important;
    margin-left: 50px !important;
  }

  .mobile-list-foot-1 {
    order: 1;
    margin-bottom: 45px !important;
  }

  .mobile-list-foot-2 {
    order: 2;
  }

  .mobile-list-foot-3 {
    order: 3;
  }

  .mobile-span-footer {
    font-size: 20px;
  }

  footer li {
    font-size: 20px !important;
    margin-bottom: 12px !important;
  }
  footer img {
    margin-top: 10px !important;
  }
}

/*# sourceMappingURL=style-mobile.css.map */
