@font-face {
  font-family: rossanova;
  src: url(assets/font/Rossanova/Rossanova-Regular.otf);
}
@font-face {
  font-family: rossanova-light;
  src: url(assets/font/Rossanova/Rossanova-light.otf);
}
@font-face {
  font-family: rossanova-bold;
  src: url(assets/font/Rossanova/Rossanova-Bold.otf);
}
@font-face {
  font-family: poppins;
  src: url(assets/font/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: poppins-light;
  src: url(assets/font/Poppins/Poppins-Light.ttf);
}
@font-face {
  font-family: poppins-medium;
  src: url(assets/font/Poppins/Poppins-Medium.ttf);
}
.catering {
  background-image: url("assets/Groupe 2252.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 1080px;
  display: flex;
  max-width: 1932px;
  background-size: auto;
  text-align: center;
}

#logo {
  align-self: flex-start;
  order: 5;
  height: auto;
  width: 7%;
  margin-top: 60px;
  margin-left: 410px;
}

.custom-select {
  border: 0px;
  outline: 0px;
  background: transparent;
  color: white;
  align-self: flex-start;
  order: 1;
  margin-top: 100px;
  margin-left: 106px;
  font-size: 11px;
}

.words {
  align-self: flex-end;
  text-align: center;
  color: white;
  margin-bottom: 9%;
  order: 3;
  height: auto;
  width: 19%;
  margin-left: -37px;
}

footer {
  background-color: #25282a;
  color: white;
}
footer img {
  height: 31px;
  width: 31px;
  margin-right: 14px;
  margin-top: 40px;
}
footer li {
  font-family: rossanova;
  margin-bottom: 40px;
  font-size: 25px;
}

footer div {
  font-family: rossanova;
}

.footerlist {
  list-style: none;
}

.gold {
  color: #926D39;
}

.white {
  color: #ffffff;
}

.black {
  color: #000000;
}

.rossanova {
  font-family: rossanova;
}

.rossanova-L {
  font-family: rossanova-light;
}

.rossanova-M {
  font-family: rossanova-bold;
}

.poppins {
  font-family: poppins;
}

.poppins-L {
  font-family: poppins-light;
}

.poppins-M {
  font-family: poppins-medium;
}

.center {
  text-align: center;
}

h1 {
  font-size: 60px;
  font-weight: unset !important;
}

h2 {
  font-size: 40px;
  font-weight: unset !important;
}

h3 {
  font-size: 25px;
  font-weight: unset !important;
}

h4 {
  font-weight: unset !important;
  font-size: 20px;
}

p {
  font-size: 20px;
  line-height: 45px;
}

body {
  max-width: 1932px;
  margin: 0 auto;
  background-color: #fcfcfc;
  font-family: poppins;
  line-height: 45px;
  color: #000000;
  display: flex;
  flex-direction: column;
  height: 100%;
  font: size 20px;
}

.box {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.08);
  display: flex;
  margin-top: 56px;
  margin-left: 152px;
  margin-right: 162px;
  order: 1;
  background-color: white;
}

.box-foot {
  margin: 90px 162px 56px 152px;
  display: flex;
  order: 1;
}

.box-title {
  padding-bottom: 79px;
  padding-left: 78px;
  line-height: 30px;
  margin-top: 67px;
  width: 50%;
  padding-right: 62px;
}

.box-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("assets/food2.png");
  width: 60%;
  order: 2;
}

.icon-under-h {
  width: 118px;
}

.text-under-h1 {
  line-height: 40px;
  width: 100%;
  text-align: center;
  margin: auto;
}

.to-left {
  width: 60%;
  float: left;
}

.to-right {
  width: 50%;
  float: right;
}

.container1 {
  margin: 0px 162px 0px 162px;
}

.img {
  width: 100%;
}

.request-btn {
  border-color: #926D39;
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 2px;
}

.l-height-30 {
  line-height: 30px;
}

.l-height-20 {
  line-height: 20px;
}

.l-height-10 {
  line-height: 3px;
}

.list-elem-icon {
  width: 20px;
  float: left;
  margin: 15px 15px 0px 0px;
}

.info-icon {
  height: 60px;
  float: left;
  margin: 0px 30px 0px 0px;
}

.info-size {
  font-size: 17px;
}

section {
  display: flex;
  height: auto;
  width: 100%;
  margin-bottom: 50px;
}

.divisions {
  display: flex;
  margin-top: 20px;
  margin-left: 106px;
  margin-right: 160px;
  order: 2;
}

.variety-imgs {
  display: flex;
}
.variety-imgs img {
  width: 206px;
  height: 688px;
  object-fit: cover;
}

.simple:focus {
  width: 637px !important;
}

/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
  #primary {
    width: 67%;
  }

  #secondary {
    width: 30%;
    margin-left: 3%;
  }
}
/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
  #primary {
    width: 100%;
  }

  #secondary {
    width: 100%;
    margin: 0;
    border: none;
  }
}

/*# sourceMappingURL=style.css.map */
