@font-face {
  font-family: rossanova;
  src: url(assets/font/rossanova/rossanova-personal-use.regular.otf);
}

@font-face {
  font-family: poppins;
  src: url(assets/font/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: poppins-light;
  src: url(assets/font/Poppins/Poppins-Light.ttf);
}

@font-face {
  font-family: poppins-medium;
  src: url(assets/font/Poppins/Poppins-Medium.ttf);
}

h1 {
  font: size 60px;
}

h2 {
  font: size 40px;
}

h3 {
  font: size 34px;
}

h4 {
  font: size 25px;
}

body {
  max-width: 1932px;
  margin: 0 auto;
  background-color: #FCFCFC;
  font-family: poppins;
  line-height: 45px;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  font: size 20px;
}

.rossanova {
  font-family: rossanova;
}

.gold {
  color: #926D39;
}

.poppins {
  font-family: poppins;
  color: #000000;
}

.poppins-L {
  font-family: poppins-light;
  color: #000000;
}

.poppins-L-W {
  font-family: poppins-light;
  color: #ffffff;
}

.poppins-M {
  font-family: poppins-medium;
}

.center {
  text-align: center;
}

.icon-under-h {
  width: 70px;
}

.text-under-h1 {
  line-height: 40px;
  width: 80%;
  text-align: center;
  margin: auto;
}

.to-left {
  width: 50%;
  float: left;
}

.to-right {
  width: 50%;
  float: right;
}

.container1 {
  margin: 0px 162px 0px 162px;
}

.img {
  width: 100%;
  height: auto;
}

.request-btn {
  padding: 19px 39px;
  margin-bottom: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #926D39;
  text-decoration: none;
}

.l-height-30 {
  line-height: 30px;
}

.l-height-20 {
  line-height: 20px;
}

.list-elem-icon {
  width: 20px;
  float: left;
  margin: 15px 15px 0px 0px;
}

.info-icon {
  height: 70px;
  float: left;
  margin: 0px 30px 0px 0px;
}

.info-size {
  font: size 17px;
}

section {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  height: auto;
  width: 100%;
  margin-bottom: 50px;
}

footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: #25282a;
  height: auto;
  width: 100%;
  color: white;
  padding: 0;
  margin: 0;
}

.headerI {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
}

.headerII {
  margin: 0;
  padding: 0;
  height: auto;
}

#layer {
  position: absolute;
  top: 0;
  z-index: 10;
  width: 100%;
  max-width: 1932px;
}

#logo {
  z-index: 20;
  position: relative;
  top: 0;
  position: absolute;
  height: auto;
  width: 7%;
  left: 47%;
  margin-top: 4%;
}

.words {
  text-align: center;
  position: absolute;
  color: white;
  left: 0;
  right: 0;
  top: 60%;
  z-index: 999;
  width: 40%;
}

.box {
  position: relative;
  display: inline-block;
}

.invisble {
  left: 50%;
  position: absolute;
  top: 20%;
  z-index: 50;
  height: auto;
  width: 40%;
  max-width: 950px;
}

#Groupe_522, #Groupe_525, #Groupe_520 {
  display: block;
  margin: auto;
}

#Groupe_525 {
  margin-top: 15%;
  margin-bottom: 8%;
}

.title {
  background-image: url("../assets/Image1.png");
  border-style: solid;
  height: 105.58px;
  width: 148.88px;
}

.custom-select {
  z-index: 15;
  margin-left: 8%;
  margin-top: 6%;
  border: 0px;
  outline: 0px;
  background: transparent;
  color: white;
  position: absolute;
  top: 0;
}

footer div {
  font-family: rossanova;
}

footer div div {
  padding: 0px 0px 0px 30px;
}

.select-selected {
  background-color: gainsboro;
  background: transparent;
}

.footerlist {
  list-style: none;
  margin-left: 10%;
  padding-top: 3%;
  padding-bottom: 3%;
}

.footerlist li {
  margin-bottom: 3%;
}
/*# sourceMappingURL=style.css.map */