
@media screen and (min-width: 2000px){

.ourstory {
  .position-playgrounds{ 
    border-radius: 1vw;
    .text-position{
      font-size: 1.6vw;
    }
    
    img{
    width: 1.2vw;
  }
  }
  .story-parag {
    font-size: 1.3vw;
    line-height: normal;
  }
  .icon-under-h {
    width: 5vw;
  }
  h2 {
    font-size: 3vw;
    margin-bottom: 10px;
  }

}

}


@media screen and (min-width: 1000px){
  .image-story-test{
    margin-top: 50px ;
    align-self: start !important;
  }
}

#pos1 {
  bottom: 46%;
  left: 38%;

}
#pos2 {
  bottom: 51%;
  left: 11%;

}
#pos3 {

  bottom: 51%;
  left: 42%;
}
#pos4 {

  bottom: 50%;
  left: 24%;
}
#pos5 {

  bottom: 42%;
  left: 30%;
}
#pos6 {

  bottom: 33%;
  left: 38%;
}
#pos7 {

  bottom: 37%;
  left: 18%;
}
#pos8 {
  bottom:33%;
  left: 23%;

}
#pos9 {
  bottom: 37%;
  left: 21%;

}
#pos10 {
  bottom: 55%;
  left: 29%;

}
#pos11 {
  bottom: 58%;
  left: 35%;

}
#pos12 {

  bottom: 58%;
  left: 24%;
}
#pos13 {

  bottom: 57%;
  left: 45%;
}
#pos14 {

  bottom: 55%;
  left: 59%;
}
#pos15 {

  bottom: 76%;
  left: 41%;
}
#pos16 {

  bottom: 65%;
  left: 20%;
}
#pos17 {
  bottom: 71%;
  left: 28%;

}
#pos18 {
  bottom: 30%;
  left: 61%;

}
@media screen and (max-width: 1050px)
{.text-position {
  display: none;
  font-size: 8px;
  margin-left: 10px;
  font-family: poppins-semi-bold;

}
  
  .position-playgrounds{
  z-index: 10;
  display: flex;
  flex-direction: row;
  position: absolute;

  padding: 4px 4px 4px;
  background-color: rgba($color: white, $alpha:0.7 );
  border-radius: 22px;
  img{
    width: 7px;

  }
}

}

@media screen and (min-width: 1050px){
  .text-position {
    display: none;
    font-size: 13px;
    margin-left: 15px;
    font-family: poppins-semi-bold;
  
  }

.position-playgrounds{
  z-index: 10;
  display: flex;
  flex-direction: row;
  position: absolute;

  padding: 10px 13px 9px;
  background-color: white;
  border-radius: 22px;
  img{
    width: 13px;

  }
}}
.position-playgrounds:hover{
  z-index: 100;
  .text-position{
    display: block !important;
   
  }
}




.history {
  background-image: url("assets/ourstory.png");
}
.story-margin-right {
  margin-right: 162px;
}
.gras {
  font-weight: bold;
}

.story-info-size {
  font-size: 19px;
}
.story-img{
  flex-basis: 40%;
}
.flex1{
  order: 1;
}
.flex2{
  order: 2;
}
.story-parag{
  margin-right:10%;
}

.story-margin {
  margin-top: 56px;
  margin-left: 5%;
  margin-right: 5%;
}
.story-title{
text-align: center;
  width: fit-content;
}
.title2{
  text-align: center;
  width: fit-content;
  margin-left: 10%;
}
.margin2{
  margin-left: 10%;
}
.image{
  align-self: center;
  flex-basis: 40%;
}
@media screen and (max-width: 1050px){
  .story-title{
 justify-content: center;
 width: 10%;
  }
  .image{
    width: 100%;
    margin-left: 0;
  }
  .story-parag{
   text-align: center;
   width: 100%;
  }
  .title2{
    width: fit-content;
    margin-left: 0;
  }
  .margin2{
    margin-left: 0;
  }
  .flex1{
    order: 2;
  }
  .flex2{
    order: 1;
  }

.parag-img{
  .flex-row{
display: flex;
flex-direction: column;
  }
}

}