@media screen and (min-width: 1000px){
  .image-story-test{
    margin-top: 50px ;
    align-self: start !important;
  }
}

#pos1 {
  bottom: 34%;
  left: 7%;

}
#pos2 {
  bottom: 6%;
  left: 19%;

}
#pos3 {

  bottom: 27%;
  left: 31%;
}
#pos4 {

  bottom: 44%;
  left: 40%;
}
#pos5 {

  bottom: 29%;
  left: 56%;
}
#pos6 {

  bottom: 12%;
  left: 63%;
}
#pos7 {

  bottom: 56%;
  left: 73%;
}
#pos8 {
  bottom: 9%;
  left: 86%;

}





.position-playgrounds{
  display: flex;
  flex-direction: row;
  position: absolute;

  padding: 10px 13px 9px;
  background-color: white;
  border-radius: 22px;
  img{
    width: 13px;

  }
}
.position-playgrounds:hover{
  .text-position{
    display: block !important;
  }
}

.text-position {
  display: none;
  font-size: 13px;
  margin-left: 15px;
  font-family: poppins-semi-bold;

}


.history {
  background-image: url("assets/history/Composant 2 – 1.png");
}
.story-margin-right {
  margin-right: 162px;
}
.gras {
  font-weight: bold;
}

.story-info-size {
  font-size: 19px;
}
.story-img{
  flex-basis: 40%;
}
.flex1{
  order: 1;
}
.flex2{
  order: 2;
}
.story-parag{
  margin-right:10%;
}

.story-margin {
  margin-top: 56px;
  margin-left: 5%;
  margin-right: 5%;
}
.story-title{
  width: fit-content;
}
.title2{
  width: fit-content;
  margin-left: 10%;
}
.margin2{
  margin-left: 10%;
}
.image{
  align-self: center;
  flex-basis: 40%;
}
@media screen and (max-width: 1050px){
  .story-title{
 justify-content: center;
 width: 10%;
  }
  .image{
    width: 100%;
    margin-left: 0;
  }
  .story-parag{
   text-align: center;
   width: 100%;
  }
  .title2{
    width: fit-content;
    margin-left: 0;
  }
  .margin2{
    margin-left: 0;
  }
  .flex1{
    order: 2;
  }
  .flex2{
    order: 1;
  }

.parag-img{
  .flex-row{
display: flex;
flex-direction: column;
  }
}

}