@media only screen and (max-width: 700px) {
  h2 {
    font-size: 32px;
    font-weight: unset !important;
}

  .adr {
    flex-basis: 39%;
    margin-bottom: 23px;
  }

  .padding-top-70 {
    padding-top: 30px;
  }

  .flex-row ul {
    font-size: 12px;
    padding-left: 20px;
  }
  .font-14{font-size: 11px;}
  .font-17{
    font-size: 12px !important;
  }
  .font-15 {
    font-size: 12px;
}
  .font-19 {
    font-size: 11px;
  }
  .font-20 {
    font-size: 12px;
  }
  .font-25 {
    font-size: 15px;
  }
  .font-28 {
    font-size: 18px;
  }
  .font-30 {
    font-size: 17px;
}.font-32 {
  font-size: 22px;
}
  .font-40 {
    font-size: 32px;
    line-height: 35px;
  }
  .font-55 {
    font-size: 30px;
}
  .font-59 {
    font-size: 32px;
  }
  .font-60 {
    font-size: 32px;
  }

  .margin-top-70 {
    margin-top: 0px;
  }
  .story-info-size {
    font-size: 12px;
  }

  .galary-title-margin {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .sub-title {
    width: fit-content;
    margin-bottom: 30px;
    margin-top: 20px;
}
.poppins-semi-bold{
  font-family: poppins-semi-bold;

}

  /********************************************/

  .get-in-touch-box {
    margin-top: 10px;

    padding-bottom: 0px;
    .title{

         font-size: 39px;

       }
  }
  .align-get-in-touch{
    margin-top: 0px;
  }
  .offer-get-in-touch-values {
    margin-top: 21.5px;
    margin-left: 23px;
}
.offer-get-in-touch-box {
  position: relative;
  height: auto;
   width: 100%;
  background-color: white;
 margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-bottom: 50px;
}
  /*********our fans*********/
  .parag-in-ourfans {
    width: 100%;
    height: auto;
    color: #d6d6d6;
    margin-bottom: 47.3px;
    background-repeat: no-repeat;
    background-size: 380px 310px;
  }
  .list-margin {
    margin-left: 20px;
}
.margin-top-105 {
  margin-top: 50px;
}
.line-h-100 {
  line-height: 50px;
}
.poppins-20-43-70 {
  color: #707070;
  font-size: 15px;
  font-family: poppins;
  line-height: 33px;
}
.poppins-17-43 {
  font-size: 15px;
  font-family: poppins;
  line-height: 35px;
}
.icon-under-h {
  width: 80px;
}

}
