@media only screen and (max-width: 700px) {
    .wedd-white-btn {
        margin-top: 29px;
        background-color: transparent;
        padding: 13px 30px 13px 30px;
        border-color: #926D39 !important;
        border-style: solid;
        text-decoration: none;
        color: #926D39 !important;
        border-width: 1px;
    }
    .wedd-offer-btn {
        margin-top: 20px;
        font-size: 12px;
        background-color: #926D39 !important;
        letter-spacing: 6px;
        padding: 2% 20% 2% 20%;
        border-color: #926D39 !important;
        border-style: solid;
        text-decoration: none;
        color: white !important;
        border-radius: 5px;
    }

}

