@media only screen and (max-width: 700px) {
  .wedd-white-btn {
    margin-top: 29px;
    padding: 13px 30px 13px 30px;
    border-width: 1px;
  }
  .wedd-offer-btn {
    margin-top: 20px;
    font-size: 12px;
    letter-spacing: 6px;
    padding: 2% 20% 2% 20%;
  }

  .dining-gold-btn {
    margin-top: 0px;
    margin-right: 30px;
    width: 250px;
    padding: 10px 10px 10px 10px;
    letter-spacing: 5px;
  }
  .cat-white-btn {
    margin-top: 11px;
    padding: 16px 20px 15px 20px;
  }
  .story-white-btn {
    margin-top: 19px;
    letter-spacing: 5px;
    padding: 13px 30px 13px 30px;
    border-width: 1px;
    margin-left: 30%;
  }
  .home-white-btn {
    letter-spacing: 4px;
    padding: 13px 30px 13px 30px;
    border-width: 1px;
  }
  .single-gold-btn {
    margin-top: 29px;
    margin-right: 30px;
    width: 220px;
    padding: 10px 10px 10px 10px;

  }
  #menu-buttons{ .cat-white-btn {
    margin-top: 29px;
    background-color: white;
    padding: 16px 20px 15px 20px;

    border-style: none;
    text-decoration: none;
    height: 50px;
    width: 140px;
}
.cat-gold-btn {
  margin-top: 29px;
  margin-right: 0px;
  background-color: #926D39 !important;
  padding: 16px 20px 15px 20px;
  border-color: #926D39 !important;
  text-decoration: none;
  border-style: none;
  height: 50px;
  width: 150px;

}
}
.search-btn{
  border-width: 1px;
  background-color: #926d39;
  color: #ffffff;
  padding:9px 0 9px 0;
  width: 50px;
  border-style: none;

}
#menu-mob-evt{
  .search-btn {
    border-width: 1px;
    background-color: #926d39;
    color: #ffffff;
    padding: 7.26562px;
    width: 50px;
    border-style: none;
}
}
}
