@media screen and (max-width: 700px) {
    .carousel-2-div .carousel-exclu .flickity-viewport {
        height: 228px !important;
    }
    .carousel-2-div .carousel-exclu .carousel-cell {
        width: 350px !important;
    }

}
@media screen and (min-width: 700px) {
    
  .flickity-enabled.is-draggable .flickity-viewport {
   
    height: 360px !important;
    margin-bottom: 20px;
  }

}


