.gold {
  color: $primary-color;
}
.white {
  color: #ffffff;
}
.black {
  color: #000000;
}

.rossanova {
  font-family: rossanova;
}
.rossanova-L {
  font-family: rossanova-light;
}
.rossanova-M {
  font-family: rossanova-bold;
}

.poppins {
  font-family: poppins;
}
.poppins-20-43-70{
  color: #707070;
  font-size: 20px;
  font-family: poppins;
  line-height: 43px;
}
.poppins-19-30-70{
  color: #707070;
  font-size: 19px;
  font-family: poppins;
  line-height: 43px;
}
.poppins-20-30-70{
  color: #707070;
  font-size: 20px;
  font-family: poppins;
  line-height: 30px;
}
.poppins-17-43-70{
  color: #707070;
  font-size: 17px;
  font-family: poppins;
  line-height: 43px;
}
.poppins-20-43-{

  font-size: 20px;
  font-family: poppins;
  line-height: 43px;
}
.poppins-19-30{  
  font-size: 19px;
  font-family: poppins;
  line-height: 30px;
  
}
.poppins-20-30{  
  font-size: 20px;
  font-family: poppins;
  line-height: 30px;
  
}
.poppins-17-43{ 
  font-size: 17px;
  font-family: poppins;
  line-height: 43px;

}
.poppins-L {
  font-family: poppins-light;
}

.poppins-M {
  font-family: poppins-medium;
}

.center {
  text-align: center;
}
.gold-btn {
  margin-top: 29px;
  border-width: 1px;
  background-color: #926d39;
  color: #ffffff;
}

.white-btn {
  margin-top: 29px;
  border-style: solid;
  border-width: 1px;
  border-color: #926d39;
  background-color: #ffffff;
  color: $primary-color;
  padding: 19px 39px 18px;
  width: fit-content;

}
.normale-btn {
  margin-top: 29px;
  border-style: solid;
  border-width: 1px;
  border-color: #926d39;
  background-color: #ffffff;
  color: $primary-color;

}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.ourfans-box {
	-webkit-box-shadow: 0px 0px 30px -17px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 30px -17px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 30px -17px rgba(0,0,0,0.5);
	
}
.header{
  background-repeat: no-repeat;
  width: 100%;
  height: 1080px;
display: flex;
flex-direction: column;
 
  background-size:auto;
  text-align: center;
}
.parag-in-ourfans {
  width: 395.75px;
  //white-space: nowrap;
// overflow: hidden;
//  text-overflow: ellipsis ;
  height: 309.43px;
  color: #D6D6D6;
  margin-bottom: 47.3px;
 
  background-repeat: no-repeat;
  background-size:380px 310px ;
}
 //***** cotte 
 .content {
  position: relative;
  .ribbon1 {
    position: absolute;
    top: 0px;
    right: 0px;
  }
  .ribbon2 {
    position: absolute;
    bottom: 0px;
    left: 0px;
 }
}
.offer-section{
  display: flex;
  flex-direction: column;
}