
.gold {
	color: $primary-color;
}
.white {
    color: #ffffff;
}
.black {
    color: #000000;
}

.rossanova {
	font-family: rossanova;
}
.rossanova-L {
	font-family: rossanova-light;
}
.rossanova-M {
	font-family: rossanova-bold;
}

.poppins {
	font-family: poppins;
}

.poppins-L {
	font-family: poppins-light;
}


.poppins-M {
	font-family: poppins-medium;
}

.center {
	text-align: center;
}
