/*****************general buttons************************/
.gold-btn {
  margin-top: 29px;
  border-width: 1px;
  background-color: #926d39;
  color: #ffffff;
}

.white-btn {
  margin-top: 29px;
  border-style: solid;
  border-width: 1px;
  border-color: #926d39;
  background-color: #ffffff;
  color: $primary-color;
  padding: 19px 39px 18px;
  width: fit-content;
}
.normale-btn {
  margin-top: 29px;
  border-style: solid;
  border-width: 1px;
  border-color: #926d39;
  background-color: #ffffff;
  color: $primary-color;
}

.offert-request-btn {
  border-color: $primary-color;
  text-decoration: none;
  letter-spacing: 2px;
  padding: 0px 54px 0px;
  width: fit-content;
  line-height: 60px;
}
/********offers*****/
.request-btn-sm {
  border-color: $primary-color;
  text-decoration: none;
  font-size: 10px;
  letter-spacing: 0.5px;
  line-height: 10px;
  padding: 6px 10px 6px;
  width: fit-content;
}

.gold-btn-sm {
  margin-top: 10px;
  border-width: 1px;
  background-color: #926d39;
  color: #ffffff;
}

.white-btn-sm {
  margin-top: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #926d39;
  background-color: #ffffff;
  color: $primary-color;
}
.gold-search-btn {
  width: 95px;
  border-width: 1px;
  background-color: #926d39;
  color: #ffffff;
  padding: 5px 10px 5px;
}

/**********catering buttons********************/
.cat-white-btn {
  margin-top: 29px;
  background-color: transparent;

  padding: 16px 20px 15px 20px;
  border-color: $primary-color;
  border-style: solid;
  text-decoration: none;
}
.home-white-btn{
  margin-top: 29px;
  background-color: transparent;
letter-spacing: 8px;
  padding: 13px 60px 13px 60px;
  border-color: $primary-color;
  border-style: solid;
  text-decoration: none;
  color: $primary-color;
}
.story-white-btn{
  margin-top: 29px;
  background-color: transparent;
letter-spacing: 8px;
  padding: 13px 80px 13px 80px;
  border-color: $primary-color;
  border-style: solid;
  text-decoration: none;
  color: $primary-color;
  border-width: 0.5px;
}
.single-white-btn {
  margin-top: 29px;
  background-color: transparent;
  border-width: 0.5px;
  padding: 5px 20px 5px 20px;
  border-color: $primary-color;
  border-style: solid;
  text-decoration: none;
  margin-bottom: 10px;
}
.multiple-white-btn{

    margin-top: 29px;
    background-color: transparent;
    border-width: 0.5px;
    padding: 5px 5px 5px 5px;
    border-color: $primary-color;
    border-style: solid;
    text-decoration: none;
    margin-bottom: 10px;

}
.multiple-gold-btn{

  margin-top: 29px;
  background-color: $primary-color;
  border-width: 0.5px;
  padding: 5px 7px 7px 5px;
  border-color: $primary-color;
  border-style: solid;
  text-decoration: none;
  margin-bottom: 10px;
  color: white;

}
.cat-gold-btn {
  margin-top: 29px;
  margin-right: 30px;
  background-color: $primary-color;

  padding: 16px 20px 15px 20px;
  border-color: $primary-color;
  text-decoration: none;
  border-style: solid;
}
.dining-gold-btn {
  margin-top: 29px;
  margin-right: 30px;
  background-color: $primary-color;
  width: 390px;
  padding: 16px 20px 15px 20px;
  border-color: $primary-color;
  text-decoration: none;
  border-style: solid;
  border-radius: 5px;
  letter-spacing: 5px;
}

.single-gold-btn {
  margin-top: 29px;
  margin-right: 30px;
  background-color: $primary-color;
  width: 100%;
  padding: 16px 20px 15px 20px;
  border-color: $primary-color;
  text-decoration: none;
  border-style: solid;
  border-radius: 5px;
}

.dining-white-btn {
  margin-top: 29px;
  background-color: transparent;

  padding: 16px 50px 15px 50px;
  border-color: $primary-color;
  border-style: solid;
  text-decoration: none;
}
.request-btn {
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 2px;
  padding: 19px 39px 19px;
  width: 302px;
}
.single-room-buttons{
  margin-right:50px ; margin-left: 50px ;justify-content: space-around;
}
.wedd-offer-btn{
margin-top: 20px;
font-size: 16px;
    background-color: $primary-color;
  letter-spacing: 6px;
    padding: 5px 100px 5px 100px;
    border-color: $primary-color;
    border-style: solid;
    text-decoration: none;
    color: white!important;
    border-radius: 5px;

}
.wedd-white-btn{
  margin-top: 29px;
  background-color: transparent;

  padding: 13px 60px 13px 60px;
  border-color: $primary-color;
  border-style: solid;
  text-decoration: none;
  color: $primary-color;
}