//our fan
.carousel-3-div {
  
  .carousels0 {
    .flickity-prev-next-button {
      top: 50%;
      width: 50px;
      height: 50px;
      border-radius: 0 !important;
      background-color: rgba($color: #f7f7f7, $alpha: 0.9) !important;
      /* vertically center */
      transform: translateY(-50%);
    }

    .carousel-cell {
      min-width: 150px !important;
      max-width: 100% !important;
      margin-top: 20px !important;
      width: auto !important;

      padding-left: 20px;
    }
    // .flickity-viewport {

    //   }
  }
  .carousel-our-fan {
    .flickity-prev-next-button {
      top: 88%;
      width: 50px;
      height: 50px;
      border-radius: 0 !important;
      background-color: rgba($color: #f7f7f7, $alpha: 0.9) !important;
      /* vertically center */
      transform: translateY(-50%);
    }

    .flickity-prev-next-button.previous {
      left: 10px !important;
    }
    .flickity-prev-next-button.next {
      left: 40px !important;
    }

    .carousel-cell {
      width: 460px ;
      margin-top: 20px !important;
     margin-bottom: 30px;
      padding-left: 20px;
    }
    .flickity-viewport {
      //height: 580px !important;
    }
  }

  //special offer
  .carousel-special-offers {
    .flickity-prev-next-button {
      top: 50%;
      width: 50px;
      height: 50px;
      border-radius: 0 !important;
      background-color: rgba($color: #f7f7f7, $alpha: 0.9) !important;
      /* vertically center */
      transform: translateY(-50%);
    }

    .carousel-cell {
      width: 460px !important;
      margin-top: 20px !important;

      padding-left: 20px;
    }
    .flickity-viewport {
      height: 580px !important;
    }
  }
  .carousel-meetings-packages {
    .flickity-prev-next-button {
      top: 50%;
      width: 50px;
      height: 50px;
      border-radius: 0 !important;
      background-color: rgba($color: #f7f7f7, $alpha: 0.9) !important;
      /* vertically center */
      transform: translateY(-50%);
    }

    .carousel-cell {
      width: 500px !important;
      margin-top: 20px !important;
      margin-bottom: 70px ;

      padding-left: 20px;
    }
    .flickity-viewport {
     // height: 650px !important;
    }
    .ourfans-box {
      padding: 40px;
    }
  }
  .carousels1 {
    .carousel {
      background: transparent !important ;
    }
    .carousel-cell {
      width: 460px !important;
      margin-top: 30px !important;

      padding-left: 20px;
    }
    .flickity-viewport {
      height: 730px !important;
    }
  }

  .carousels2 {
    .carousel-cell {
      width: 460px !important;
      margin-top: 30px !important;

      padding-left: 20px;
    }
    .flickity-viewport {
      height: 730px !important;
    }
    background: transparent !important ;
  }

  .carousels3 {
    .carousel-cell {
      width: 460px !important;
      margin-top: 30px !important;

      padding-left: 20px;
    }
    .flickity-viewport {
      height: 730px !important;
    }
    .carousel {
      background: transparent !important ;
    }
  }
}

.carousel-3-div {
  //mainn css
  .carousel {
    background: #fafafa;
  }

  .carousel-cell {
    width: 500px;
    height: fit-content;
    margin-right: 10px;
    //  background: #8C8;
    border-radius: 5px;
    //  counter-increment: carousel-cell;
  }

  /* cell number */
  .carousel-cell:before {
    display: block;
    text-align: center;
    //    content: counter(carousel-cell);
    line-height: 200px;
    font-size: 80px;
    color: white;
  }

  //
  /*! Flickity v2.2.1
https://flickity.metafizzy.co
---------------------------------------------- */

  .flickity-enabled {
    position: relative;
  }

  .flickity-enabled:focus {
    outline: none;
  }

  .flickity-viewport {
    overflow: hidden;
    position: relative;
    height: fit-content;
  }

  .flickity-slider {
    position: absolute;
    width: 100%;
    height: fit-content;
  }

  /* draggable */

  .flickity-enabled.is-draggable {
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .flickity-enabled.is-draggable .flickity-viewport {
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab;
  }

  .flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
    cursor: -webkit-grabbing;
    cursor: grabbing;
  }

  /* ---- flickity-button ---- */

  .flickity-button {
    position: absolute;
    background: hsla(0, 0%, 100%, 0.75);
    border: none;
    color: #333;
  }

  .flickity-button:hover {
    background: white;
    cursor: pointer;
  }

  .flickity-button:focus {
    outline: none;
    box-shadow: 0 0 0 5px #19f;
  }

  .flickity-button:active {
    opacity: 0.6;
  }

  .flickity-button:disabled {
    opacity: 0.3;
    cursor: auto;
    /* prevent disabled button from capturing pointer up event. #716 */
    pointer-events: none;
  }

  .flickity-button-icon {
    fill: $primary-color;
  }

  /* ---- previous/next buttons ---- */

  .flickity-prev-next-button {
    top: 50%;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    /* vertically center */
    transform: translateY(-50%);
  }

  .flickity-prev-next-button.previous {
    left: 10px;
  }
  .flickity-prev-next-button.next {
    right: 10px;
  }
  /* right to left */
  .flickity-rtl .flickity-prev-next-button.previous {
    left: auto;
    right: 10px;
  }
  .flickity-rtl .flickity-prev-next-button.next {
    right: auto;
    left: 10px;
  }

  .flickity-prev-next-button .flickity-button-icon {
    position: absolute;
    left: 20%;
    top: 20%;
    width: 60%;
    height: 60%;
  }

  /* ---- page dots ---- */

  .flickity-page-dots {
    position: absolute;
    width: 100%;
    bottom: -25px;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    line-height: 1;
  }

  .flickity-rtl .flickity-page-dots {
    direction: rtl;
  }

  .flickity-page-dots .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 8px;
    background: #333;
    border-radius: 50%;
    opacity: 0.25;
    cursor: pointer;
  }

  .flickity-page-dots .dot.is-selected {
    opacity: 1;
  }
}

@media screen and (max-width: 1170px) {
  #c2-responsive {
    display: block;
  }
  #c1-responsive {
    display: none;
  }

  .carousel-3-div {
    .carousels0 {
      .flickity-prev-next-button {
        top: 50%;
        width: 50px;
        height: 50px;
        border-radius: 0 !important;
        background-color: rgba($color: #f7f7f7, $alpha: 0.9) !important;
        /* vertically center */
        transform: translateY(-50%);
      }

      .carousel-cell {
        min-width: none !important;
        max-width: none !important;
        margin-top: 20px !important;

        width: 526px !important ;
        padding-left: 20px;
      }
      // .flickity-viewport {

      //   }
    }
  }
  //   .carousel-3-div{

  //     #c2-responsive{
  //      .flickity-prev-next-button {
  //        top: 50%;
  //        width: 50px;
  //        height: 50px;
  //        border-radius: 0 !important;
  //        background-color: rgba($color: #F7F7F7, $alpha: 0.9) !important;
  //        /* vertically center */
  //        transform: translateY(-50%);
  //      }

  //    .carousel-cell {

  //    margin-top: 20px !important;
  //    width: 526px !important ;

  //  padding-left: 20px;}
  //    // .flickity-viewport {

  //    //   }

  //     }
  //   }
}

@media screen and (min-width: 1170px) {
  #c2-responsive {
    display: none;
  }
  #c1-responsive {
    display: block;
  }

  .carousel-3-div {
    .carousels0 {
      .flickity-prev-next-button {
        top: 50%;
        width: 50px;
        height: 50px;
        border-radius: 0 !important;
        background-color: rgba($color: #f7f7f7, $alpha: 0.9) !important;
        /* vertically center */
        transform: translateY(-50%);
      }

      .carousel-cell {
        min-width: 150px !important;
        max-width: 100% !important;
        margin-top: 20px !important;
        width: auto !important;

        padding-left: 20px;
      }
      // .flickity-viewport {

      //   }
    }
  }
}
