@font-face {
  font-family: rossanova;
  src: url(assets/font/Rossanova/rossanova-personal-use.regular.otf);
}
@font-face {
    font-family: rossanova-light;
    src: url(assets/font/Rossanova/rossanova-personal-use.regular.otf);
  }
  @font-face {
    font-family: rossanova-medium;
    src: url(assets/font/Rossanova/rossanova-personal-use.regular.otf);
  }
@font-face {
    font-family: poppins;
    src: url(assets/font/Poppins/Poppins-Regular.ttf);}
@font-face{ 
    font-family: poppins-light;
    src: url(assets/font/Poppins/Poppins-Light.ttf);}
@font-face {
    font-family: poppins-medium;
    src: url(assets/font/Poppins/Poppins-Medium.ttf);}