footer {

	background-color: #25282a;
	color: white;
	img{
		height: 31px;
		width: 31px;
		margin-right: 14px;
		margin-top: 40px;
	}
	li{font-family:rossanova ; margin-bottom: 40px; font-size: 25px;

	}
}
footer div {
	font-family: rossanova;
}

.footerlist {
	list-style: none;
	margin: 0px 103px 0px 0px  ; padding: 0px 0px 0px 50px  ;
}

.box-foot-responsive {
    margin: 90px 8% 56px 7%;
    display: flex;
    order: 1;
}
.footer-marg{
	margin: 0px 103px 0px 0px ;
}
.footer-padd{
	padding: 0px 0px 0px 90px
}
//added for test
@media screen and (min-width: 700px){
	.home-padding{
		padding-top: 80px
	}

}