
@media screen and (min-width: 2000px){
	footer {
		.box-foot-responsive{
			margin: 4% 10% 3% 7%
		}
		.font-40{
			font-size: 4vw;
		}
		.font-42{
			font-size: 2vw;
		}
		
		img{
		height: 2.5vw !important;
		width: 2.5vw !important;
		margin-right: 0.7vw !important;
		margin-top: 2vw !important;
	}
	li{font-family:rossanova ; margin-bottom: 2vw; font-size: 2vw !important;

	}


	}

}

footer {

	background-color: #25282a;
	color: white;
	img{
		height: 31px;
		width: 31px;
		margin-right: 14px;
		margin-top: 40px;
	}
	li{font-family:rossanova ; margin-bottom: 40px; font-size: 25px;

	}
}
footer div {
	font-family: rossanova;
}

.footerlist {
	list-style: none;
	margin: 0px 103px 0px 0px  ; padding: 0px 0px 0px 50px  ;
}

.box-foot-responsive {
  //  margin: 90px 8% 56px 7%;
  margin: 50px 10% 56px 7%;
    display: flex;
    order: 1;
}
.footer-marg{
	margin: 0px 103px 0px 0px ;
}
.footer-padd{
	padding: 0px 0px 0px 90px
}
//added for test
@media screen and (min-width: 700px){
	.home-padding{
		padding-top: 80px
	}

}