
.small-word-header{
	letter-spacing: 6px; font-size: 12px;line-height: 25px;
}
.big-word-header{
	font-size: 44px; line-height: 64px; margin-top: 4.9px;
}
#logo {
  align-self: flex-start;
  order: 5;
  height: auto;
  width: 7%;
  margin-top: 60px;
  margin-left: 250px;
  
}
#logo-2 {
  align-self: flex-start;
  order: 5;
  height: auto;
  width: 7%;
  margin-top: 60px;
  margin-left: 570px;
  
}
.words2{
  text-align: left;
  flex: 1;
  margin-top: 600px;
  margin-left: 155px;
  color: white;
  width: fit-content;

}
.catering2 {
	background-image: url("assets/Groupe 2252.png");
	background-repeat: no-repeat;
	width: 100%;
	height: 1080px;
  display: flex;
  flex-direction: column;
	max-width: 1932px;
	background-size:auto;
	text-align: center;
  
  
  }
.custom-select {
  font-family: poppins;
  border: 0px;
  outline: 0px;
  background: transparent;
  color: white;
  align-self: flex-start;
  order: 1;
  margin-top: 108px;
  margin-left: 214px;
  font-size: 17px;
}
.item-select {
  color: black;
}
.words {
  align-self: flex-end;
  text-align: center;
  color: white;
  margin-bottom: 9%;
  order: 3;
  height: auto;
  width: 19%;
  margin-left: -37px;
}