.catering {
  background-image: url("assets/Groupe 2252.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 1080px;
  display: flex;
  max-width: 1932px;
  background-size:auto;
  text-align: center;


}

#logo {
  align-self: flex-start;
  order: 5;
  height: auto;
  width: 7%;
  margin-top: 60px;
  margin-left: 410px;
  
}
.custom-select {
  border: 0px;
  outline: 0px;
  background: transparent;
  color: white;
  align-self: flex-start;
  order: 1;
  margin-top: 100px;
  margin-left: 106px;
  font-size: 11px;
}
.words {
  align-self: flex-end;
  text-align: center;
  color: white;
  margin-bottom: 9%;
  order: 3;
  height: auto;
  width: 19%;
  margin-left: -37px;
}