
.headerI {
	margin: 0;
	padding: 0;
	width: 100%;
	height: auto;
}

.headerII {
	margin: 0;
	padding: 0;
	height: auto;
}

#layer {
	position: absolute;
	top: 0;
	z-index: 10;
	width: 100%;
	max-width: 1932px;
}

#logo {
	z-index: 20;
	position: relative;
	top: 0;
	position: absolute;
	height: auto;
	width: 7%;
	left: 47%;
	margin-top: 4%;
}

.words {
	text-align: center;
	position: absolute;
	color: white;
	left: 0;
	right: 0;
	top: 60%;
	z-index: 999;
	width: 40%;
}

.box {
	position: relative;
	display: inline-block;
}

.invisble {
	left: 50%;
	position: absolute;
	top: 20%;
	z-index: 50;
	height: auto;
	width: 40%;
	max-width: 950px;
}

#Groupe_522, #Groupe_525, #Groupe_520 {
	display: block;
	margin: auto;
}

#Groupe_525 {
	margin-top: 15%;
	margin-bottom: 8%;
}

.title {
	background-image: url("../assets/Image1.png");
	border-style: solid;
	height: 105.58px;
	width: 148.88px;
}

.custom-select {
	z-index: 15;
	margin-left: 8%;
	margin-top: 6%;
	border: 0px;
	outline: 0px;
	background: transparent;
	color: white;
	position: absolute;
	top: 0;
}