
.keyfact-section{
  height: 501px; border-style: solid;
  border-color: #707070;
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 0.5px;
  span{
    font-size: 60px;
    font-family: rossanova;
    color: $primary-color;
   
  }

}



@media screen and (min-width: 700px) {
  .margin-services {
    margin-top: -30px ; 
  }
}




h1 {
  font-size: 60px;
  font-weight: unset ;
}

h2 {
  font-size: 40px;
  font-weight: unset !important;
}

h3 {
  font-size: 25px;
  font-weight: unset !important;
}

h4 {
  font-weight: unset !important;
  font-size: 20px;
}
p {
  font-size: 20px;
  line-height: 45px;
}
body {
  max-width: 1932px;
  margin: 0 auto;
  background-color: #fcfcfc;
  font-family: poppins;

  color: #000000;
  display: flex;
  flex-direction: column;
  height: 100%;

}
  .item-service{
    p{
      line-height: 40px;
    }
  }
.catering {
  background-image: url("assets/Groupe 2252.png");
}
.our-service-btn{
  padding: 17px 60px !important;
}

// #boxShadow{
// // 	-webkit-box-shadow: -2px 10px 30px 0px rgba(0,0,0,0.05);
// // -moz-box-shadow: -2px 10px 30px 0px rgba(0,0,0,0.05);
// box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.08);
//}
.box {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.08);
  display: flex;
  margin-top: 56px;
  margin-left: 152px;
  margin-right: 162px;
  order: 1;
  background-color: white;
}
.box-foot {
  margin: 90px 162px 56px 152px;

  display: flex;
  order: 1;
}
.box-title {
  padding-bottom: 79px;
  padding-left: 78px;
  line-height: 30px;
  margin-top: 67px;
  width: 50%;
  padding-right: 62px;
}
.box-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("assets/food2.png");
  width: 60%;
  order: 2;
}

.icon-under-h {
  width: 118px;
}

.text-under-h1 {
  line-height: 40px;
  width: 100%;
  text-align: center;
  margin: auto;
}

.to-left {
  width: 60%;
  float: left;
}

.to-right {
  width: 50%;
  float: right;
}

.container1 {
  margin: 0px 5% 0px 5%;
}

.img {
  width: 100%;
}

.l-height-30 {
  line-height: 30px;
}

.l-height-20 {
  line-height: 20px;
}
.l-height-10 {
  line-height: 3px;
}
.list-elem-icon {
  width: 20px;
  float: left;
  margin: 15px 15px 0px 0px;
}

.info-icon {
  height: 60px;
  float: left;
  margin: 0px 30px 0px 0px;
}

.info-size {
  font-size: 17px;
}

section {
  display: flex;
  height: auto;
  width: 100%;
}
.divisions {
  display: flex;
  margin-top: 20px;
  margin-left: 106px;
  margin-right: 160px;
  order: 2;
}

// .select-selected {
// 	background-color: gainsboro;
// 	background: transparent;
// }
.variety-imgs {
  display: flex;
  flex-wrap: nowrap;
  img {
    width: 12%;
    height: 688px;

    object-fit: cover;
    transition: all 0.3s;
  }
}
.simple:hover {
  flex: 4 !important;
}

.requ-cat-dialog {
  width: 60rem;
  height: auto;
  position: fixed;
}
.vertical {
  margin-right: 20px;
  border-right: 2px solid #d5d3d3;
  height: 400px;
}
dialog {
  border-style: none;
  border-radius: 10px;
}
.request {
  form {
    input[type="text"] {
      border-style: none;
      height: 50px;
      font-size: 20px;
    }

    input[type="radio"]:checked ~ .checkmark {
      background-color: $primary-color;
    }

    hr.solid {
      border-top: 2px solid #707070;
      opacity: 100%;
    }
  }
}

/********************first slide*****************/
.slide1 {
  margin-bottom: 60px;
  .item-service {
    height: 698px;
    margin: 66px 80px 0px 80px;
    border-radius: 15px;
  }
  .slideshow-container4 {
    position: relative;
    margin: 0px 8% 0px 8%;
  }
  /* Hide the images by default */
  .mySlides4 {
    display: none;
    width: fit-content;
  }
  /* Next & previous buttons */
  .prev4,
  .next4 {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center ;
   
    
    color: $primary-color;
    font-weight: bold;
    font-size: 18px;
    transform: translateY(-50%);

   
  }

  /* Position the "next button" to the right */
  .next4 {
    right: 0;
 
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev4:hover,
  .next4:hover {
    background-color: white  ;
  }
}

.catering-getintouch {
  margin-right: 280px;
  margin-left: 290px;
}
.container3-box {
  margin-left: 152px;
  margin-right: 162px;
}
.size60{
  font-size: 3vw; line-height: 2.5vw;
}
.cat-slide-img{
  object-fit: cover;
  width: 100% ;height: 698px ;min-width: 100px; border-top-left-radius:20px ;
  border-bottom-left-radius: 20px;
}
/********************* media query************/
@media screen and (max-width: 1050px) {
  .cat-slide-img{
    width: 100% ;height: 698px ;min-width: 100px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 0px;


  }
  .size60{
    font-size: 4vw; line-height: 3.8vw;
  }
  .container1 {
    margin: 0px 2% 0px 2%;
  }
  .mySlides4 {
    .item-service {
      display: flex;
      flex-direction: column !important;
    }
  }
  .slide1 {
    margin-bottom: 60px;
    .item-service {
      height: 1398px;
      margin: 66px 80px 0px 80px;
      border-radius: 15px;
    }
    .mySlides4 {
      display: none;

      height: 1200px;

    }
    .slideshow-container4 {
      //width: 90%;
      position: relative;
      margin: 0px 0px 0px 10px;
    }
    .prev4,
    .next4 {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      margin-top: -22px;
      color: $primary-color;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 3px;
      user-select: none;

    }
 /* Position the "next button" to the right */

  }
  .catering-getintouch {
    margin-left: 90px;
  }
  .footerlist {
    list-style: none;
    margin: 0px 103px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  .container3-box {
    margin-left: 10px;
    margin-right: 10px;
  }
  .sccontainer {
    width: 100%;
  }
  .cat-btn{
    .flex-row{
      display: flex;
      flex-direction: column;
    }
  }
  .gold-btn,
  .normale-btn{width: 500px;}
}
.alin-dots{
  text-align:center; margin-bottom: 80px;
}
.cat-items{
  ul {
    font-size: 19px;
    line-height: 50px;
    li {
      list-style-image: url("assets/svg/single room/square.svg");
    }
  }
}

