@media only screen and (max-width: 700px) {
  .info-mobile {
    p {
      line-height: 50px !important;
    }
    .meeting-width-buttons {
      width: -webkit-fill-available;
    }
    .cat-gold-btn {
      margin-right: 0px;
    }
  }
  .carousel-meetings-packages {
    span {
      font-size: 11px !important;
    }
    .order-title-mobile1 {
      order: 1;
    }
    .order-title-mobile2 {
      order: 2;
    }
    .order-title-mobile3 {
      order: 3;
    }
    .order-title-mobile4 {
      order: 4;
    }
  }

  .meeting-font-margin {
    font-size: 17px;
    margin-bottom: 20px;
  }
  .meeting-img {
    width: -webkit-fill-available;
    margin: -30px -30px 20px -30px;
  }
  .ourfans-box {
    .flex-row {
      span {
        font-size: 15px;
      }
    }
  }
  .flex-row .list-class ul {
    font-size: 15px;
  }
  .meetings-second-sub-box {
    padding: 4% 20px 30px 3%;
    order: 3;
    margin-top: -50px !important;
  }
  .meeting-box {
    padding: 4% 20px 30px 3%;
    order: 2;
    margin-top: -50px !important;
    margin-left: 10px;
  }
  .meeting-second-box {
    margin-top: 50px;
    margin-bottom: 10px;
    padding-bottom: 50px;
  }
  .next-meeting {
    right: 0;
    margin-left: 0px;
    border-radius: 3px 0 0 3px;
  }
  .prev-meeting,
  .next-meeting {
    bottom: 25%;
  }

  /******* menu fixed*******/
  #menu-mob-evt {
    display: block;
    background-color: white;
    z-index: 50000;
    .btn {
      float: right;
      width: 55px !important;
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0px;
      position: fixed;
      bottom: 0px;
      width: 100%;
      background-color: white;

      li {
        float: left;
        width: 27.6%;
        color: #676767;
        font-size: 8px;
        input {
          width: 100%;
          font-size: 12px;
          color: #676767;
          padding-left: 15px;
        }
      }
    }
  }
  .menu-fixed {
    padding-top: 15px;
    padding-bottom: 15px;
    border-style: none;
    color: #676767;
  }
}
