@media only screen and (max-width: 700px) {
  .icons img {
    width: 22px;
    height: 26px;
}
.getoffre-btn {

  font-size: 12px;

}
.meetings-and-act{


.carousel-3-div .carousel-meetings-packages .ourfans-box {
  padding: 25px;
}

  .padding-top-50 {
    padding-top: 10px;
}
.margin-right-25 {
  margin-right: 15px;
  margin-bottom: 12px;
  margin-top: 3px;
}
  .cat-white-btn {
    margin-top: 11px;
    padding: 12px 0px 12px 0px;
}
.meeting-width-buttons {
  width: 188px;
}
}


  #slide1meeting .prev-meeting,
  #slide3meeting .prev-meeting {
    right: unset;
    left: 0;
  }
  .list-class {
    margin-right: 0px;
    margin-left: 20px;
    li {
      list-style-image: url("assets/svg/Tracé 8474.svg");
    }
  }
  .info-mobile {
    p {

      line-height: 30px !important;
    }
    .meeting-width-buttons {
      width: -webkit-fill-available;
    }
    .cat-gold-btn {
      margin-right: 0px;
    }
  }
  .carousel-meetings-packages {
    span {
      font-size: 12px !important;
    }

  }

  .meeting-font-margin {
    font-size: 17px;
    margin-bottom: 20px;
  }
  .meeting-img {
    width: 100%;

    border-radius: 5px;
  }
  .ourfans-box {
    .flex-row {
      span {
        font-size: 13px;
      }
     div img{
        width: 50px;
      }
      .margin-left-35 {
        img {
          width: 12px;
        }
      }
    }
  }
  .flex-row .list-class ul {
    font-size: 15px;
  }
  .meetings-second-sub-box {
    padding: 4% 20px 30px 3%;
    order: 3;
    margin-top: -50px !important;
  }
  .meeting-box {
    padding: 4% 20px 30px 3%;
    order: 2;
    margin-top: -50px !important;
    margin-left: 10px;
  }
  .meeting-second-box {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 50px;
  }
  .next-meeting {
    right: 0;
    margin-left: 0px;
    border-radius: 3px 0 0 3px;
  }
  .prev-meeting,
  .next-meeting {
    bottom: 25%;
  }

  /******* menu fixed*******/
  #menu-mob-evt {
    display: block;
    background-color: white;
    z-index: 50000;
    .btn {
      float: right;
      width: 55px !important;
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0px;
      position: fixed;
      bottom: 0px;
      width: 100%;
      background-color: white;

      li {
        float: left;
        width: 27.6%;
        color: #676767;
        font-size: 8px;
        input {
          width: 100%;
          font-size: 12px;
          color: #676767;
          padding-left: 15px;
        }
      }
    }
  }
  .menu-fixed {
    padding-top: 15px;
    padding-bottom: 15px;
    border-style: none;
    color: #676767;
  }
}
.margin-stand-pack {
  margin-left: 5%;
  margin-right: 5%;
}
@media only screen and (max-width: 425px) {

    .carousel-3-div .carousel-meetings-packages .carousel-cell {
      width: 100% !important;

  }
}
@media only screen and (max-width: 320px){
.meetings-and-act .margin-right-25 {

     margin-top: 0px;
}}