@media only screen and (max-width: 700px) {
  .our-service-btn{
    padding: 10px 20px !important;
  }
  .size60{
    font-size: 25px; line-height: 25px;
  }
  .cat-items {
    ul {
      font-size: 11px;
      line-height: 20px;
      li {
        list-style-image: url("assets/svg-mobile/square.svg");
      }
    }
  }
  .slide1 {
    margin-bottom: 0px;
    .item-service {
      height: auto;
      margin: 26px 5px 20px 5px;
      border-radius: 15px;
    }
    .mySlides4 {
      display: none;
      height: auto;
    }
  }
  .variety-imgs{
    display: none;
  }
  .info-icon {

    margin: 0px 10px 0px 0px;
}
.menu1{
  display: none;
}
.cat-slide-img {

  height: auto;

}
.catering-page{
.slide1 .prev4, .slide1 .next4 {

  top: 29%;

}

.slide1 .next4 {
  right: 4;
}
}






}
