.home {
  background-image: url("assets/homePage/Groupe 2252.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 1080px;
  display: flex;
  flex-direction: column;
  background-size: auto;
  text-align: center;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;

  border-top: none;
}

.request-btn-home {
  border-color: $primary-color;
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 5px;
  line-height: 10px;
  padding: 25px 70px 20px;
  letter-spacing: 6px;
}

.white-btn-home {
  margin-top: 19px;
  border-style: solid;
  border-width: 1px;
  border-color: #926d39;
  background-color: #ffffff;
  color: $primary-color;
  height: 69px;
  width: 329px;
  text-align: center; margin-top: 5px;
}


.request-btn-home2 {
  border-color: $primary-color;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 5px;
  line-height: 10px;
  padding: 17px 30px 17px;
  letter-spacing: 6px;
}

.white-btn-home2 {
  margin-top: 164px; margin-left: 250px;
  border-style: solid;
  border-width: 1px;
  border-color: #926d39;
  background-color: #ffffff;
  color: $primary-color;
  height: 55px;
  width: 236px;
  text-align: center; margin-top: 5px;
}