.offers {
  background-image: url("assets/offersPage/Groupe 2253.png");
}

.offers-section {
  display: flex;
  flex-direction: column;
  background-image: url("assets/sigleOfferImg/Rectangle 1745.png");
  background-repeat: no-repeat;
  background-size: 1930px 3221px;
}
.offers-full-menu{
  margin-bottom: 50px;
   align-items: center;  
     justify-content: space-between;
}
.offers-margin-left{
  margin-left: 34.9px;
}
.offersmenu {
  width: 650px;
  height: 79px;
  background-color: white;
  ul {
    list-style-type: none;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 25px;
    li {
      margin-left: 5%;
      display: inline;
      cursor: pointer;
    }
    li:hover {
      color: $primary-color;
    }
  }
}
.offers-justify-slides{
  flex-wrap: wrap; justify-content: center;
}
.menu-size {
  margin-bottom: 50px;
  font-size: 20px;
}
.right-menu {
 
  background-color: white;
  height: 79px;

  font-size: 20px;
}
.right-menu-occ {
  margin-top: 20px;
  margin-left: 17px;
  margin-right: 17px;
}
.right-menu-select {
  border-style:none;
  
  font-size: 23px;
  width: 100%;
  color: #b2b4b2;
}
.occ-opt {
  color: #b2b4b2;
  font-size: 23px;
  padding: 20px;
  text-align: center;
}
.slides-box {
  margin-right: 15px;
  margin-bottom: 20px;
}
.offers-icon-under-h {
  width: 50px;
}
.offers-name {
  width: 20%;
  margin-bottom: 0px;
  margin-left: 16px;
  margin-top: 15px;
}
.offers-cont {
  width: 500px;
  height: 406px;
}
.offers-name-title {
  font-size: 20px;
  line-height: 15px;
}
.offers-name-parag {
  margin-left: 20px;
  line-height: 20px;
  font-size: 12px !important;
  width: 305.75px;
  color: #25282a;
}

.offers-margin{
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
}
.margin-right-35{
  margin-right: 35px;
}
.flex-row1{
  display: flex;
  flex-direction: row;
}
.offers-margin-left-64-9{
  margin-left: 64.9px;
}
.offers-maegin-right-10{
  margin-right: 10px;
}
.offers-margin-buttom-6{
  margin-bottom: 6px;
}

@media screen and (max-width: 1050px) {
  .offersmenu {
    // width: 60vw;
    margin-bottom: 30px;
  }
  .offers-margin{
    margin-top: 10%;
    margin-left: 7%;
    margin-right: 7%;
  }
  .right-menu {
    margin-left: 0;
    background-color: white;
    height: 79px;
   
    font-size: 20px;
  }
.menu1{
  .flex-row1{
 
    width: 100%;
    background-color: white;
    z-index: 50;

  }
}
}
