@media screen and (min-width: 700px) {
}
@media only screen and (max-width: 700px) {
  .demo3 {

    height: 70px !important;
}
  h1 {
    font-size: 32px;
    font-weight: unset;
    span{
      line-height: unset !important;
    }
  }

  p {
    font-size: 14px;
    line-height: 24px !important;
  }

  .wedd-parag {
    font-size: 12px;
    margin-top: 16px;
    margin-left: 15px;
    line-height: 25px !important;
    width: 90%;
  }
  .wedd-items {
    padding-right: 3% !important;
    padding-left: 3%;
    ul {
      font-size: 12px;
      line-height: 20px;
      li {
        list-style-image: url("assets/svg-mobile/square.svg");
      }
    }
  }
  .img-items {
    width: 100%;
    max-height: 698px;
    border-top-right-radius:5px ;
    border-top-left-radius: 5px ;
    border-bottom-left-radius: 0px;
  }
  .wedd-slide-title {
    font-size: 17px;
    margin-bottom: 20px;
    color: $primary-color;

  }
  .wedd-slide-img {
    border-radius: 0px;
    margin-bottom: 30px;
    width: 100%;
  }
  .item-service {
    height: 698px;
    margin: 66px 10px 0px 10px;
    border-radius: 15px;
  }

  .wedd-sec2 {
    flex-basis: 40%;
    margin-top: -30px !important ;

    margin-right: -50px;

    padding: 50px 20px 50px 20px;
    .wedd-title-box {
        font-size: 20px;
        line-height: 16px;
        color: black;
    }
    .wedd-box {
      align-items: center;
      justify-content: center;

      span{
        font-size: 8px !important;
    }
    }

  }
  .prev5,
.next5 {
  bottom: 35%;
}
.prev5 {

  border-radius: 3px 0 0 3px;
  right: 87%;

}
.wedd-box-ballroom{
.responsive-box-wedding{
  .margin-bottom-50{
    span{
      font-size: 10px!important;
    }
    div{
      span{font-size: 20px!important;}
    }
  }
}

}
.wedd-box-brital {

  line-height: 20px;
   margin-top: 10px;
}
}
