@media only screen and (max-width: 700px) {
  .no-margin-mobile{
    margin-right: 0px !important ;
    margin-left: 0px !important ;
  }
  .margin-mobile-stand{
    margin-right: 4% !important ;
    margin-left: 4% !important ;
  }
  .carousel-multi-rooms{
    .carousel-cell{
      margin-right: 30px;
    }
  }
  .rooms-cont {
    width: 310px;
    height: 380px;
  }
  .single-room-box {
    display: none;
  }
  #menu-with-slides1 {
    display: none;
  }
  .carraux {
    display: none;
  }
  .rooms-parag {
    margin-left: 20px;
    line-height: 20px;
    font-size: 12px;
    width: 185px;
    margin-top: 0px;
  }
  #menu-mob {
    display: block;
    background-color: white;
    z-index: 50000;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      position: fixed;
      bottom: 0px;
      width: 100vw;
      display: flex ; 
      justify-content: space-between;
     background-color: white;
      li {
       
      
        color: #676767;
        font-size: 7px;
      }
      li {
        input {
         width: 20vw;
          font-size: 15px;
          color: #676767;
        }
        select {
          font-size: 13px;
         width: 100%;

        }
      }
    }
  }
  .select-menu-fixed {
    padding-top: 15px;
    padding-bottom: 15px;
    border-style: none;
    color: #676767;
  }
}
