.offer-section{
    display: flex;
    flex-direction: column;
    background-image: url("assets/sigleOfferImg/Rectangle 1745.png");
}

.offer {
    background-image: url("assets/sigleOfferImg/Groupe 2252.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 1080px;
    display: flex;
    max-width: 1932px;
    background-size:auto;
    text-align: center;
  }

  .offer-margin{
    margin-top: 56px;
    margin-left: 152px;
    margin-right: 162px;
  }
  .offert-request-btn {
    border-color: $primary-color;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 2px;
    padding: 16px 54px 16px; width: fit-content;
    
    }
    