
@media screen and(min-width:1050px){
  .carousel-special-offers {
    .flickity-page-dots{
      display: block !important;
    }
  }
}


 #menu-buttons{
   display: none;
 }
.single-offer-section {
  display: flex;
  flex-direction: column;
  background-image: url("assets/sigleOfferImg/Rectangle 1745.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.offer {
  background-image: url("assets/offer.png");
}

.offer-margin {
  margin-top: 56px;
  margin-left: 152px;
  margin-right: 162px;
}

.offer-get-in-touch {
  background-image: url("assets/sigleOfferImg/Intersection 10.png");
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-bottom: -80px;
}
.offer-get-in-touch-box {
  position: relative;
  height: 591px;
  width: 534px;
  background-color: white;
  margin-top: 100px;
  margin-right: 66px;
  border-radius: 25px;
}
.offer-get-in-touch-values {
  margin-top: 60px;
  margin-left: 53px;
}
.offer-get-in-touch-title {
  width: fit-content;
  margin-top: 50px;
  margin-bottom: 10px;
  margin-left: 35px;
}

.flex-row {
  .list-class-offer {
    margin-right: 100.5px;
    line-height: 11px;
    ul {
      width: 323, 15px;
      line-height: 20px;
      li {
        list-style-image: url("assets/svg/Tracé 8474.svg");
        margin-bottom: 23px;
      }
    }
  }
}

.single-offer-list {
  ul {
    li {
      font-size: 20px;
      line-height: 24px;
      list-style-image: url("assets/svg/Tracé 8474.svg");
      margin-top: 23px;
    }
  }
}
 .list-margin{margin-left: 30px;}
 @media screen and(min-width:2000px){
.single-offer{
  p {
    font-size: 1.4vw;
    line-height: 3vw;
}
.font-40 {
  font-size: 3.1vw;
  line-height: 2.5vw;
}
.icon-under-h {
  width: 10vw;
}

.flex-row ul {
  line-height: 2vw;
  font-size: 1.2vw;
  li{
    list-style-image: url("assets/svg/Trace2.svg");
  }
}
h2 {
  font-size: 4vh;
}
.single-offer-list ul li {
  font-size: 1.2vw;
  line-height: 3vw;
  list-style-image: url("assets/svg/Trace2.svg");
  margin-top: 23px;
}
.font-25 {
  font-size: 1.5vw;
}


}
.offer-get-in-touch-box {

  height: auto;
  width: 40vw;
  padding-bottom: 3vw;
  .info-size {
    font-size: 1.5vw;
  }
  .l-height-30 {
    line-height: 2vw;
  }


 .font-25 {
    font-size: 2.5vw;
}

}
.margin-stand-l-r {

  margin-top: 1vw;
}

 }