.offer {
    background-image: url("assets/sigleOfferImg/Groupe 2252.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 1080px;
    display: flex;
    max-width: 1932px;
    background-size:auto;
    text-align: center;
  
  
  }
  .offerTitle{
      background-image: url("assets/sigleOfferImg/Rectangle 1745.png");
    display: flex;
    margin-top: 56px;
    margin-left: 152px;
    margin-right: 162px;
    order: 1;

  }