.meetings {
    background-image: url("assets/meetings/Composant 4 – 1.png");
	background-repeat: no-repeat;
	width: 100%;
	height: 1080px;
  display: flex;
  flex-direction: column;
   
	background-size:auto;
	text-align: center;
  
  
  
  }
