.meetings {
  background-image: url("assets/meetings/Composant 4 – 1.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 1080px;
  display: flex;
  flex-direction: column;

  background-size: auto;
  text-align: center;
}
.flex-row {
  .list-class {
    ul {
      font-size: 20px;
      li {
        list-style-image: url("assets/svg/Tracé 8474.svg");
      }
    }
  }
}


.request-btn-act {
    border-color: $primary-color;
    text-decoration: none;
    font-size: 15px;
    letter-spacing: 0.5px;
    line-height: 10px;
    padding: 6px 10px 6px; 
  }

  .gold-btn-act {
    margin-top: 10px;
    border-width: 1px;
    background-color: #926d39;
	color: #ffffff;
	width: 241px;text-align: center;

  }
  
  .white-btn-act {
    margin-top: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #926d39;
    background-color: #ffffff;
    color: $primary-color;	width: 241px;text-align: center;
  }