.weddings-text-title {
font-family: poppins-L  !important;
font-size: 19px  !important;
line-height: 40px  !important;
text-align: left !important;
margin: 0px 200px 0px 200px;

}
.wedding-section {
    margin-left: 152px;
    margin-right: 152px;
}