@import "base/color.scss";
@import "base/font.scss";
@import "base/header.scss";
@import "base/footer.scss";
@import "base/base.scss";
@import "catering/catering.scss";
@import "offerSinglePage/offer.scss";
@import "history/history.scss";
@import"offerSinglePage/offerSlide.scss";
@import"base/ourfansCaroussel.scss";
@import "weddings/weddings.scss";
@import"offersPage/offers.scss";
@import"singleRoom/singleRoom.scss";
@import"meetings/meetings.scss";
@import"activities/activities.scss";
@import"index/index.scss";
@import"multiRooms/multiRooms.scss";
@import"dinning/dinning.scss";
@import"base/dialogs.scss";
@import"base/btns.scss";
@import "base/carousel-one-in-the-midle.scss" ; 
@import "base/carousel-3-div.scss";
@import "base/carousel-2-div.scss";