.dining-page .date-selector-wrapper,.multirooms-page .date-selector-wrapper {
position: fixed !important;
bottom: 50px !important;

z-index: 10000 !important;}

@media only screen and (max-width: 700px) {
  .dining-select-box {
    display: none;
  }
  .dining-right-title {
    .right {
      float: none;
    }
  }
  .dining-right-parag {
    margin-top: 0px !important;
  }
  .dining-box-padding {
    h3 {
      font-size: 22px !important;
    }
    li {
      font-size: 11px !important;
    }
    padding: 10px 10px 10px 10px;
  }
  .special-offer-img {
    width: 100%;
  }
  .carousel-our-fan {
    .carousel-cell {
      width: 80%;
    }
  }
  .carousel-3-div .carousel-our-fan .flickity-prev-next-button {
    display: none;
  }
  .dining-img-style {
    width: auto;
    height: 50px;
  }

  .dining-white-box {
    .flex-row {
      justify-content: space-between;
    }
  }
  .dining-box-padding {
    padding: 0px 25px 25px 25px;
  }
}
