@media only screen and (max-width: 700px) {
    .dining-select-box{ display: none ; }
    .dining-right-title {
        .right{
            float:none;
        }

    }
    .dining-right-parag{
        margin-top: 0px !important;
    }
    .carousel-cell {
        ul {
          font-size: 11px;
          li {
            list-style-image: url("assets/svg-mobile/square.svg");
          }
        }
      }
      .prev-dinning, .next-dinning {

        bottom: 30%;
        width: 21px;
        height: 51px;
        padding-top: 10px;
        padding-left: 31px;
        padding-right: 41px;

    }
}