@media screen and (max-width: 700px) {
    .offer-get-in-touch{
     background-image: none !important;

  
     align-items: stretch !important;
     justify-content: start !important; 
     margin-bottom: 0px !important;
     .ourfans-box{-webkit-box-shadow: 0;
        -moz-box-shadow:0;
         box-shadow: none;
    

     }
     
    }
}
